.toolbar {
  position: fixed;
  z-index: 50;
  display: flex;
  gap: 4px;
  padding: 4px;
  background: var(--primary-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-sm);
  animation: fadeIn 0.2s ease;
  transform-origin: center bottom;
  will-change: transform;
  transition: all 0.2s ease, opacity 0.2s ease;

  &.outOfBounds {
    scale: .8;
    opacity: 0.5;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    padding: calc(var(--spacing-unit) * 0.25);
    border: none;
    background: transparent;
    border-radius: var(--border-radius);
    color: var(--text-color);
    cursor: pointer;
    transition: var(--hover-transition);

    &:hover {
      background: var(--secondary-bg);
    }

    &.active {
      color: var(--text-color);
      background: var(--secondary-bg);
    }
  }
}

.group {
  display: flex;
  gap: calc(var(--spacing-unit) * 0.25);
  padding: calc(var(--spacing-unit) * 0.25);
  border-right: 1px solid var(--border-color);

  &:last-child {
    border-right: none;
    flex: 1;
    min-width: 200px;
  }

  :global {
    .select {
      width: 100%;

      .trigger {
        width: 100%;
        height: 32px;
        padding: 0 calc(var(--spacing-unit) * 0.5);
        display: flex;
        align-items: center;
        
        .value {
          flex: 1;
          display: flex;
          align-items: center;
          gap: calc(var(--spacing-unit) * 0.5);
          padding-right: calc(var(--spacing-unit) * 0.5);
          
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .arrow {
          margin-left: auto;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -90%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -100%);
  }
}
